*  
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
/*.wrapper  
{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('./27368987-875258799313196-9131867842976065364-o-cropped-1584607122.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute; 
   
}*/

.menu 
{
    display: flex;
    height: 12%;
    align-items: center;
    background-color: #999;
    width: 100%;
    justify-content: space-between;
    padding: 0 5%;
}
.logo  
{
    width: 80px;
    cursor: pointer;
}
.navbar
{
    text-align: right;
    flex: 1;
}
.navbar ul li
{
    display: inline-block;
    list-style: none;
    margin-right: 70px;
    
}
.navbar ul li a
{
    text-decoration: none;
    font-size: 25px;
    color: #151B8D;
    font-family: sans-serif;
}
.navbar ul li button  
{
      font-size: 25px;
        color: #151B8D;
        outline: none;
        border: none;
        background: transparent;
        cursor: pointer;
        font-family: sans-serif;
}
.navbar ul li button:hover 
{
    color: #F3c693;
    opacity: 0.5;
    font-size: 21px;
}
.navbar ul li a:hover 
{
    color: #F3c693;
    opacity: 0.5;
    font-size: 21px;
}
.a 
{
        text-decoration: none;
        color: palevioletred;
        font-size: 28px;
}  




.row
{
    display: flex;
    height: 160%;
    width: 200%;
    align-items: center;
    position: relative;
}
.container   
{
    flex-basis: 30%;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    transform: translate(-50%, 50%);
    position: relative;
    left: 25%;
}
.container span  
{
    text-transform: uppercase;
    display: block;
}
.text1 
{
    letter-spacing: 8px;
    color: #800000;
    position: relative;
    animation: text  3s  1;
    margin-bottom: 30px;
    font-weight: 700;

}
h1 
{
    color: #800000;
    font-size: 100px;
    text-transform: uppercase;
    position: relative;
}


.text2 
{
    color: #000;
    font-size: 25px;
}
@keyframes text{
    0%{
        color: trasparent;
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 35px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}

#login-form 
{
    display: none;
}
.form-box 
{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 2% auto;
    background:rgba(0,0,0,0.3);
    padding: 10px;
    overflow: hidden;
}
.button-box
{
    width: 220px;
    margin:35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn 
{
    padding:10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn 
{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #F3c693;
    border-radius: 30px;
    transition: .5s;
}
.input-group-login 
{
    top: 150px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-group-register 
{
    top: 120px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field 
{
    width: 100%;
    padding: 10px 0;
    margin:5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn 
{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #F3c693;
    border: 0;
    outline: none;
    border-radius: 30px;
}
.check-box 
{
    margin: 30px 10px 34px 0;
}
span 
{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#login 
{
    left: 50px;
}
#login input 
{
    color: white;
    font-size: 15;
}
#register 
{
    left: 450px;
}
#register input 
{
    color: white;
    font-size: 15;
}

 @media screen and (max-width: 1500px) {
            .left, .main, .right {
                width: 100%;}




