* {
    box-sizing: border-box;
  }
  
 
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: blueviolet;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  
  .container {
    border-radius: 5px;
    background-color: #E1F8DC;
    padding: 10px;
  }
  
  
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
    font-size: 20px;
    color: blueviolet;
  }
.column ul {
    text-align: left;
    color: red;
    font-size: 25px;
}
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
 